@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

/* 공통 */
* {
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}
i {
  vertical-align: middle;
}
.container {
  width: 460px;
  margin: auto;
}
/* Header */
.container header h1 {
  text-align: center;
  margin-top: 50px;
}
.container header h1 a img {
  width: 200px;
}
/* Main - nav */
.login-tab {
  display: flex;
  border-bottom: 2px solid #dddddd;
  padding: 0;
}
.login-tab li {
  flex: 1;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #454f5b;
  cursor: pointer;
}
.login-tab li.active {
  border-bottom: 2px solid #346aff;
  color: #346aff;
  font-weight: 700;
}
/* Main - 전체적인 레이아웃 */
.container-inner {
  position: relative;
}
.tab {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.tab.active {
  opacity: 1;
  visibility: visible;
}
/* Button */
.login-btn {
  margin-top: 10px;
}
.login-btn button {
  background-color: #346aff;
  color: #fff;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.login-btn hr {
  border: 1px solid #dddddd;
}
.login-btn a {
  display: inline-block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid #919eab;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
.login-btn button:hover,
.login-btn a:hover {
  font-weight: 700;
}
/* Main - Email Login */
.login-email {
  text-align: center;
  position: relative;
}
.login-email-info {
  margin: 10px 0 20px;
}
.login-email-info div {
  overflow: hidden;
  position: relative;
}
.login-email-info div::before {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 5px 0 0 5px;
  color: #cccccc;
  width: 48px;
  height: 48px;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
.email:before {
  content: "\ea07";
  font-family: xeicon;
}
.password::before {
  content: "\e966";
  font-family: xeicon;
}
.login-email-info div::after {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: #aaaaaa;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.email::after {
  content: "\e924";
  font-family: xeicon;
}
.password::after {
  content: "\e951";
  font-family: xeicon;
}
.login-email-info div input {
  width: 100%;
  height: 48px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  padding-left: 60px;
  transition: 0.2s;
}
.password {
  margin-top: 5px;
}
.login-email-info div input::placeholder {
  color: #bbbbbb;
  transition: 0.3s;
}
.login-email-info div input:focus {
  box-shadow: 0 2px 6px rgba(0, 117, 233, 0.7);
}
.login-email-info div p {
  font-size: 12px;
  color: #e52528;
  float: left;
  margin-bottom: 10px;
  padding-left: 10px;
  display: none;
  transition: 0.3s;
}
.login-email-info div input:focus + p {
  display: block;
}
.login-email-info div input:focus::placeholder {
  opacity: 0;
}
.login-email-content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.login-email-content label input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 6px;
  vertical-align: middle;
}
.login-email-content a {
  color: #0073e9;
}
/* Main - Phone Login */
.login-phone p {
  font-size: 14px;
  color: #454f5b;
  margin: 10px 0 20px;
}
.login-phone-info {
  overflow: hidden;
  position: relative;
}
.login-phone-info::before {
  content: "\e9d3";
  font-family: xeicon;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border: 1px solid #cccccc;
  border-radius: 5px 0 0 5px;
  color: #cccccc;
  width: 48px;
  height: 48px;
  font-size: 25px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}
.login-phone-info input[type="tel"] {
  width: 100%;
  height: 48px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  padding-left: 60px;
  transition: 0.2s;
}
.login-phone-info input[type="tel"]::placeholder {
  color: #bbbbbb;
}
.login-phone-info input[type="tel"]:focus {
  box-shadow: 0 2px 6px rgba(0, 117, 233, 0.7);
}
.login-phone-info p {
  font-size: 12px;
  color: #e52528;
  float: left;
  margin-bottom: 0;
  padding-left: 10px;
  display: none;
  transition: 0.3s;
}
.login-phone-info input:focus + p {
  display: block;
}
.login-phone-info input:focus::placeholder {
  opacity: 0;
}
/* Main - QR Login */
.login-qr-info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.login-qr-content-left {
  flex: 2;
  margin-right: 30px;
}
.login-qr-content-left div:nth-of-type(1) {
  font-weight: 700;
  line-height: 20px;
  color: #212b36;
}
.login-qr-content-left ol {
  padding: 0;
}
.login-qr-content-left ol li {
  font-size: 13px;
  font-weight: 400;
  color: #454f5b, 134, 149;
  margin-bottom: 8px;
}
.login-qr-content-left div:nth-of-type(2) {
  background-color: #f1f4f6;
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-left: 18px;
  font-size: 24px;
  font-weight: 700;
  color: #212b36;
  text-align: center;
  line-height: 48px;
}
.login-qr-content-left p {
  font-size: 12px;
  font-weight: 400;
  color: #768695;
}
.login-qr-content-right {
  flex: 1;
  text-align: center;
}
.login-qr-content-right div:nth-child(1) canvas {
  width: 150px;
  height: 150px;
  background: url(/images/qr-image.png) no-repeat;
  background-size: cover;
  margin-bottom: 10px;
}
.login-qr-content-right div:nth-child(2) span{
  font-size: 13px;
}
/* Main - Biz */
.login-biz {
  text-align: center;
  margin: 30px 0 20px;
  line-height: 17px;
  font-size: 13px;
  font-weight: 400;
  color: #637381;
  margin-top: 60px;
}
.login-biz a {
  font-weight: 700;
  font-size: 14px;
  color: #454f5b;
}
/* Footer */
.footer {
  text-align: center;
  padding: 20px 0 40px;
  font-size: 12px;
}
